{% extends 'base.html' %} {% block content %}

<div id='viewDiv2'></div>
    <div id="dataDiv">
    <div class="row">
    <div class='col-md-4'>
        <div class="form-group">
           <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
                <input id="date1" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker7"/>
                <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class='col-md-4'>
        <div class="form-group">
           <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
                <input id="date2" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker8"/>
                <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-2">
                        <button id="dateBtn" type="button" class="btn btn-primary">Update Table</button>
                    </div>
    </div>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
            <thead>
                <th>Date</th>
                <th>Farm Name</th>
                <th>On Farm</th>
                <th>2 km</th>
                <th>5 km</th>
                <th>10 km</th>
             </thead>
   <tbody>

   </tbody>

  </table>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
    </div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://js.arcgis.com/4.22/"></script>

  <script>
  var data = JSON.parse('{{ farms|safe }}')
  var trHTML = ''
  var userID = '{{ request.user.id }}'
  var d1 = new Date('{{ max_date }}')
  var d2 = new Date('{{ min_date }}')
  var d3 = new Date('{{ max_date }}')
  var d4 = new Date(d3.setDate(d3.getDate()-1))
  var max_date = [
  d1.getFullYear(),
  ('0' + (d1.getMonth() + 1)).slice(-2),
  ('0' + d1.getDate()).slice(-2)
].join('-');
  var min_date = [
  d2.getFullYear(),
  ('0' + (d2.getMonth() + 1)).slice(-2),
  ('0' + d2.getDate()).slice(-2)
].join('-');
  var init_date = [
  d4.getFullYear(),
  ('0' + (d4.getMonth() + 1)).slice(-2),
  ('0' + d4.getDate()).slice(-2)
].join('-');
  $("#date1").val(init_date)
  $("#date2").val(max_date)
    require([
      "esri/config",
      "esri/layers/GeoJSONLayer",
      "esri/Map",
      "esri/views/MapView"
    ], function (esriConfig, GeoJSONLayer, Map, MapView) {

      esriConfig.apiKey =
        "AAPK29245d45dda447df8db2686469e5276eHnVlh3OjwGtcvYaF5Kda1OF8vwa2o754cluHDM2STZsaNB7wyguzWwtj5lwrL6PG";
      const geojsonLayer = new GeoJSONLayer({
  url: '{% url 'farm_json' %}',
  copyright: "USGS Earthquakes"
});
      const geojsonLayer2 = new GeoJSONLayer({
  url: '{% url 'buffer_json' %}',
  copyright: "USGS Earthquakes"
});
      const map = new Map({
        basemap: "arcgis-topographic", // Basemap layer
          layers: [geojsonLayer, geojsonLayer2]
      });

      const view = new MapView({
        map: map,
        center: [-118.805, 34.027],
        zoom: 13, // scale: 72223.819286
        container: "viewDiv2",
        constraints: {
          snapToZoom: false
        }
      });

    });
    $(function () {
    $.each(data, function(i, val){
        if (val.fields.date1 >= init_date && val.fields.date1 <= max_date) {
            trHTML += '<tr><td>' + val.fields.date1 + '</td><td>' + val.fields.name + '</td><td>' + val.fields.density_onfarm + '</td><td>' + val.fields.density_2km + '</td><td>' + val.fields.density_5km + '</td><td>' + val.fields.density_10km + '</td></tr>'
        }
    })
    $('#bootstrapdatatable tbody').append(trHTML);
        $('#datetimepicker7').datetimepicker({
            useCurrent: false,
                    format: 'YYYY-MM-DD',
                    minDate: min_date,
                    maxDate: max_date,
                    widgetPositioning: {
                vertical: 'bottom'
            }
                });
        $('#datetimepicker8').datetimepicker({
            useCurrent: false,
            format: 'YYYY-MM-DD',
            maxDate: max_date,
            minDate: min_date,
            widgetPositioning: {
                vertical: 'bottom'
            }
        });
        $("#datetimepicker7").on("change.datetimepicker", function (e) {
            $('#datetimepicker8').datetimepicker('minDate', e.date);
        });
        $("#datetimepicker8").on("change.datetimepicker", function (e) {
            $('#datetimepicker7').datetimepicker('maxDate', e.date);
        });
    });
    $("#dateBtn").click(function() {
        $('#bootstrapdatatable tbody').empty()
        trHTML = ''
            $.each(data, function(i, val){
        if (val.fields.date1 >= $("#date1").val() && val.fields.date1 <= $("#date2").val()) {
            trHTML += '<tr id="' + val.fields.name + '"><td>' + val.fields.date1 + '</td><td>' + val.fields.name + '</td><td>' + val.fields.density_onfarm + '</td><td>' + val.fields.density_2km + '</td><td>' + val.fields.density_5km + '</td><td>' + val.fields.density_10km + '</td></tr>'
        }
    })
    $('#bootstrapdatatable tbody').append(trHTML);
    })
  </script>
{% endblock content %}